button.magnetic-btntwo {
    width: 14vw;
    padding: 25px 38px;
    display: flex;
    font-size: 20px;
    justify-content: center;
    text-transform: uppercase;
    font-weight: 300 !important;
    align-items: center;
    position: relative;
    overflow: hidden;
    cursor: pointer !important;
    transition: border-color 0.2s ease, color 0.2s ease;
  }

  .arrow{
    font-size: 16px;
    scale: 0.8;
    background-color: #000;
    border-radius: 50%;
    margin-left: 10px;
    color: #fff;
  }

  .magnetic-btntwo:hover .arrow{
    font-size: 22px;
    color: white;
    scale: 1;
    transition: 250ms ease-in-out;
  }

  button .span-mothertwo {
    display: flex;
    position: absolute;
    overflow: hidden;
  }

  button .span-mothertwo span.char {
    display: inline-block;
    transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  }

  button .span-mother2two {
    display: flex;
    position: absolute;
    overflow: hidden;
  }

  button .span-mother2two span.char {
    display: inline-block;
    transform: translateY(100%);
    transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  }

  button:hover .span-mothertwo span.char {
    transform: translateY(-100%);
  }

  button:hover .span-mother2two span.char {
    transform: translateY(0%);
  }

  button .span-mothertwo span.char:nth-child(1),
  button .span-mother2two span.char:nth-child(1) {
    transition-delay: 0s;
  }

  button .span-mothertwo span.char:nth-child(2),
  button .span-mother2two span.char:nth-child(2) {
    transition-delay: 0.02s;
  }

  button .span-mothertwo span.char:nth-child(3),
  button .span-mother2two span.char:nth-child(3) {
    transition-delay: 0.04s;
  }

  button .span-mothertwo span.char:nth-child(4),
  button .span-mother2two span.char:nth-child(4) {
    transition-delay: 0.06s;
  }

  button .span-mothertwo span.char:nth-child(5),
  button .span-mother2two span.char:nth-child(5) {
    transition-delay: 0.08s;
  }

  button .span-mothertwo span.char:nth-child(6),
  button .span-mother2two span.char:nth-child(6) {
    transition-delay: 0.1s;
  }

  button .span-mothertwo span.char:nth-child(7),
  button .span-mother2two span.char:nth-child(7) {
    transition-delay: 0.12s;
  }

  button .span-mothertwo span.char:nth-child(8),
  button .span-mother2two span.char:nth-child(8) {
    transition-delay: 0.14s;
  }

  button .span-mothertwo span.char:nth-child(9),
  button .span-mother2two span.char:nth-child(9) {
    transition-delay: 0.16s;
  }

  button .span-mothertwo span.char:nth-child(10),
  button .span-mother2two span.char:nth-child(10) {
    transition-delay: 0.18s;
  }

  button .span-mothertwo span.char:nth-child(11),
  button .span-mother2two span.char:nth-child(11) {
    transition-delay: 0.20s;
  }

  button .span-mothertwo span.char:nth-child(12),
  button .span-mother2two span.char:nth-child(12) {
    transition-delay: 0.22s;
  }

  button .span-mothertwo span.char:nth-child(13),
  button .span-mother2two span.char:nth-child(13) {
    transition-delay: 0.24s;
  }

  button .span-mothertwo span.char:nth-child(14),
  button .span-mother2two span.char:nth-child(14) {
    transition-delay: 0.26s;
  }

  button .span-mothertwo span.char:nth-child(15),
  button .span-mother2two span.char:nth-child(15) {
    transition-delay: 0.28s;
  }
