button.magnetic-btnthree {
    width: 100% !important;
    height: 100% !important;
    cursor: pointer;
    padding: 40px 0px;
    display: flex;
    justify-content: center;
    font-size: 28px;
    margin-top: -40px;
    font-weight: 200;
    position: relative;
    overflow: hidden;
    cursor: pointer !important;
    transition: border-color 0.2s ease, color 0.2s ease; /* Faster hover transitions */
  }

  .arrow{
    font-size: 16px;
    scale: 0.8;
    background-color: #000;
    border-radius: 50%;
    margin-left: 10px;
    color: #fff;
  }

  .magnetic-btnthree:hover .arrow{
    font-size: 22px;
    /* background-color: #f9fcfd;
    color: #313131; */
    scale: 1;
    transition: 250ms ease-in-out;
  }

  .space {
    display: inline;
    padding-left: 10px;
  }

  button .span-motherthree {
    display: flex;
    position: absolute;
    overflow: hidden;
  }

  button .span-motherthree span.char {
    display: inline-block;
    transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1); /* Faster transition */
  }

  button .span-mother2three {
    display: flex;
    position: absolute;
    overflow: hidden;
  }

  button .span-mother2three span.char {
    display: inline-block;
    transform: translateY(100%);
    transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1); /* Faster transition */
  }

  button:hover .span-motherthree span.char {
    transform: translateY(-100%);
  }

  button:hover .span-mother2three span.char {
    transform: translateY(0%);
  }

  button .span-motherthree span.char:nth-child(1),
  button .span-mother2three span.char:nth-child(1) {
    transition-delay: 0s;
  }

  button .span-motherthree span.char:nth-child(2),
  button .span-mother2three span.char:nth-child(2) {
    transition-delay: 0.02s; /* Faster stagger */
  }

  button .span-motherthree span.char:nth-child(3),
  button .span-mother2three span.char:nth-child(3) {
    transition-delay: 0.04s;
  }

  button .span-motherthree span.char:nth-child(4),
  button .span-mother2three span.char:nth-child(4) {
    transition-delay: 0.06s;
  }

  button .span-motherthree span.char:nth-child(5),
  button .span-mother2three span.char:nth-child(5) {
    transition-delay: 0.08s;
  }

  button .span-motherthree span.char:nth-child(6),
  button .span-mother2three span.char:nth-child(6) {
    transition-delay: 0.1s;
  }

  button .span-motherthree span.char:nth-child(7),
  button .span-mother2three span.char:nth-child(7) {
    transition-delay: 0.12s;
  }

  button .span-motherthree span.char:nth-child(8),
  button .span-mother2three span.char:nth-child(8) {
    transition-delay: 0.14s;
  }

  button .span-motherthree span.char:nth-child(9),
  button .span-mother2three span.char:nth-child(9) {
    transition-delay: 0.16s;
  }

  button .span-motherthree span.char:nth-child(10),
  button .span-mother2three span.char:nth-child(10) {
    transition-delay: 0.18s;
  }

  button .span-motherthree span.char:nth-child(11),
  button .span-mother2three span.char:nth-child(11) {
    transition-delay: 0.20s;
  }

  button .span-motherthree span.char:nth-child(12),
  button .span-mother2three span.char:nth-child(12) {
    transition-delay: 0.22s; /* Faster stagger */
  }

  button .span-motherthree span.char:nth-child(13),
  button .span-mother2three span.char:nth-child(13) {
    transition-delay: 0.24s;
  }

  button .span-motherthree span.char:nth-child(14),
  button .span-mother2three span.char:nth-child(14) {
    transition-delay: 0.26s;
  }

  button .span-motherthree span.char:nth-child(15),
  button .span-mother2three span.char:nth-child(15) {
    transition-delay: 0.28s;
  }

  button .span-motherthree span.char:nth-child(16),
  button .span-mother2three span.char:nth-child(16) {
    transition-delay: 0.30s;
  }

  button .span-motherthree span.char:nth-child(17),
  button .span-mother2three span.char:nth-child(17) {
    transition-delay: 0.32s;
  }

  button .span-motherthree span.char:nth-child(18),
  button .span-mother2three span.char:nth-child(18) {
    transition-delay: 0.34s;
  }

  button .span-motherthree span.char:nth-child(19),
  button .span-mother2three span.char:nth-child(19) {
    transition-delay: 0.36s;
  }

  button .span-motherthree span.char:nth-child(20),
  button .span-mother2three span.char:nth-child(20) {
    transition-delay: 0.38s;
  }

  button .span-motherthree span.char:nth-child(21),
  button .span-mother2three span.char:nth-child(21) {
    transition-delay: 0.4s;
  }

  button .span-motherthree span.char:nth-child(22),
  button .span-mother2three span.char:nth-child(22) {
    transition-delay: 0.42s; /* Faster stagger */
  }

  button .span-motherthree span.char:nth-child(23),
  button .span-mother2three span.char:nth-child(23) {
    transition-delay: 0.44s;
  }

  button .span-motherthree span.char:nth-child(24),
  button .span-mother2three span.char:nth-child(24) {
    transition-delay: 0.46s;
  }

  button .span-motherthree span.char:nth-child(25),
  button .span-mother2three span.char:nth-child(25) {
    transition-delay: 0.48s;
  }

  button .span-motherthree span.char:nth-child(26),
  button .span-mother2three span.char:nth-child(26) {
    transition-delay: 0.5s;
  }

  button .span-motherthree span.char:nth-child(27),
  button .span-mother2three span.char:nth-child(27) {
    transition-delay: 0.52s;
  }

  button .span-motherthree span.char:nth-child(28),
  button .span-mother2three span.char:nth-child(28) {
    transition-delay: 0.54s;
  }

  button .span-motherthree span.char:nth-child(29),
  button .span-mother2three span.char:nth-child(29) {
    transition-delay: 0.56s;
  }

  button .span-motherthree span.char:nth-child(30),
  button .span-mother2three span.char:nth-child(30) {
    transition-delay: 0.58s;
  }

  button .span-motherthree span.char:nth-child(31),
  button .span-mother2three span.char:nth-child(31) {
    transition-delay: 0.6s;
  }

  button .span-motherthree span.char:nth-child(32),
  button .span-mother2three span.char:nth-child(32) {
    transition-delay: 0.62s; /* Faster stagger */
  }

  button .span-motherthree span.char:nth-child(33),
  button .span-mother2three span.char:nth-child(33) {
    transition-delay: 0.64s;
  }

  button .span-motherthree span.char:nth-child(34),
  button .span-mother2three span.char:nth-child(34) {
    transition-delay: 0.66s;
  }

  button .span-motherthree span.char:nth-child(35),
  button .span-mother2three span.char:nth-child(35) {
    transition-delay: 0.68s;
  }

  button .span-motherthree span.char:nth-child(36),
  button .span-mother2three span.char:nth-child(36) {
    transition-delay: 0.7s;
  }

  button .span-motherthree span.char:nth-child(37),
  button .span-mother2three span.char:nth-child(37) {
    transition-delay: 0.72s;
  }

  button .span-motherthree span.char:nth-child(38),
  button .span-mother2three span.char:nth-child(38) {
    transition-delay: 0.74s;
  }

  button .span-motherthree span.char:nth-child(39),
  button .span-mother2three span.char:nth-child(39) {
    transition-delay: 0.76s;
  }

  button .span-motherthree span.char:nth-child(40),
  button .span-mother2three span.char:nth-child(40) {
    transition-delay: 0.78s;
  }

  button .span-motherthree span.char:nth-child(41),
  button .span-mother2three span.char:nth-child(41) {
    transition-delay: 0.8s;
  }

  button .span-motherthree span.char:nth-child(42),
  button .span-mother2three span.char:nth-child(42) {
    transition-delay: 0.82s; /* Faster stagger */
  }

  button .span-motherthree span.char:nth-child(43),
  button .span-mother2three span.char:nth-child(43) {
    transition-delay: 0.84s;
  }

  button .span-motherthree span.char:nth-child(44),
  button .span-mother2three span.char:nth-child(44) {
    transition-delay: 0.86s;
  }

  button .span-motherthree span.char:nth-child(45),
  button .span-mother2three span.char:nth-child(45) {
    transition-delay: 0.88s;
  }

  button .span-motherthree span.char:nth-child(46),
  button .span-mother2three span.char:nth-child(46) {
    transition-delay: 0.9s;
  }

  button .span-motherthree span.char:nth-child(47),
  button .span-mother2three span.char:nth-child(47) {
    transition-delay: 0.92s;
  }

  button .span-motherthree span.char:nth-child(48),
  button .span-mother2three span.char:nth-child(48) {
    transition-delay: 0.94s;
  }

  button .span-motherthree span.char:nth-child(49),
  button .span-mother2three span.char:nth-child(49) {
    transition-delay: 0.96s;
  }

  button .span-motherthree span.char:nth-child(50),
  button .span-mother2three span.char:nth-child(50) {
    transition-delay: 0.98s;
  }

  button .span-motherthree span.char:nth-child(51),
  button .span-mother2three span.char:nth-child(51) {
    transition-delay: 1.0s;
  }
