@font-face {
    font-family: 'LibreFranklin';
    src: url('../Fonts/LibreFranklin/LibreFranklin-Regular.ttf');
  }

.servicepagehead{
    font-family: LibreFranklin !important;
    font-weight: 100 !important;
}

.img1{
    margin-top: -100px;
    width: 100% !important;
    /* height: 100% !important; */
    object-fit: cover !important;
    scale: 1.1;
}
.img2{
    width: 100% !important;
    /* height: 100% !important; */
    object-fit: cover !important;
    scale: 1.5;
}
.img3{
    width: 100% !important;
    /* height: 100% !important; */
    object-fit: cover !important;
    scale: 1.5;
}
.img4{
    width: 100% !important;
    /* height: 100% !important; */
    object-fit: cover !important;
    scale: 2.2;
}
.img5{
    margin-top: 50px;
    width: 100% !important;
    /* height: 100% !important; */
    object-fit: cover !important;
    scale: 1.2 !important;
    object-position: 100% 110%;
}
.img6{
    width: 100% !important;
    /* height: 100% !important; */
    object-fit: cover !important;
    scale: 1.7 !important;
    object-position: 100% 110%;
}
.img7{
    width: 100% !important;
    /* height: 100% !important; */
    object-fit: cover !important;
    scale: 1.2 !important;
    object-position: 100% 110%;
}
